In [ ]:
QUESTION SET A

### 1) Write a program to find the maximum and minimum element in a tuple without using 
### max() and min() functions.

In [1]:
t = (4, 7, 1, 9, 3)

maximum = t[0]
minimum = t[0]

for i in t:
    if i > maximum:
        maximum = i
    if i < minimum:
        minimum = i

print("Maximum:", maximum)
print("Minimum:", minimum)

Maximum: 9
Minimum: 1

### 2) Write a program to count the occurrence of each element in a tuple. 
### Example: For tuple (1, 2, 3, 2, 1, 3, 2), output should show 1:2, 2:3, 3:2

In [2]:
t = (1, 2, 3, 2, 1, 3, 2)

count_dict = {}

for i in t:
    count_dict[i] = count_dict.get(i, 0) + 1

for key, value in count_dict.items():
    print(f"{key}:{value}")

1:2
2:3
3:2

### 3) Write a program to convert a tuple of strings into a single string. 
### Example: ("Hello", "World", "Python") should become "HelloWorldPython"

In [3]:
t = ("Hello", "World", "Python")

result = ""
for word in t:
    result += word

print(result)

HelloWorldPython

### 4) Write a program to find the sum of all even numbers in a tuple.

In [4]:
t = (1, 2, 3, 4, 5, 6)

even_sum = 0
for i in t:
    if i % 2 == 0:
        even_sum += i

print("Sum of even numbers:", even_sum)

Sum of even numbers: 12

### 5) Write a program to remove duplicates from a tuple (return a new tuple with unique elements).

In [5]:
t = (1, 2, 3, 2, 1, 4)

unique_tuple = tuple(set(t))

print("Tuple without duplicates:", unique_tuple)

Tuple without duplicates: (1, 2, 3, 4)

In [ ]:
QUESTION SET B

### 1) Write a program to find the second largest element in a tuple.

In [6]:
t = (10, 20, 4, 45, 99)

largest = second_largest = -1

for i in t:
    if i > largest:
        second_largest = largest
        largest = i
    elif i > second_largest and i != largest:
        second_largest = i

print("Second largest element:", second_largest)

Second largest element: 45

### 2) Write a program to sort a tuple of tuples based on the second element. Example: ((1, 5), (3, 2), (2, 8)) should become ((3, 2), (1, 5), (2, 8))

In [7]:
t = ((1, 5), (3, 2), (2, 8))

sorted_tuple = tuple(sorted(t, key=lambda x: x[1]))

print(sorted_tuple)

((3, 2), (1, 5), (2, 8))

### 3) Write a program to check if all elements in a tuple are unique.

In [8]:
t = (1, 2, 3, 4)

if len(t) == len(set(t)):
    print("All elements are unique")
else:
    print("Duplicate elements found")

All elements are unique

### 4) Write a program to swap the first and last element of a tuple.

In [9]:
t = (1, 2, 3, 4, 5)

t = (t[-1],) + t[1:-1] + (t[0],)

print("After swapping:", t)

After swapping: (5, 2, 3, 4, 1)

In [ ]:
QUESTION SET C

### 1) Write a program to find common elements between two tuples.

In [10]:
t1 = (1, 2, 3, 4)
t2 = (3, 4, 5, 6)

common = tuple(set(t1) & set(t2))

print("Common elements:", common)

Common elements: (3, 4)

### 2) Write a program to create a tuple of squares of numbers from 1 to n. Example: If n=5, output should be (1, 4, 9, 16, 25)

In [11]:
n = 5

squares = tuple(i*i for i in range(1, n+1))

print(squares)

(1, 4, 9, 16, 25)